HOST=0.0.0.0
PORT=3010

DB_HOST_CLI=localhost
DB_PORT_CLI=27017

DB_TYPE=mongodb
DB_HOST=localhost
DB_PORT=27017
DB_USER=mongo-r00t-us3rn4m3
DB_PASSWORD=mongo-r00t-p4ssw0rd
DB_NAME=entropy_notifs_db

# Could be DEV, PROD, TEST
ENVIRONMENT=DEV

RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672